// Colors:
$dark-indian-red-color: #f65261;
$white-color: #ffffff;
$green-color: #a1e66f;
$gray-color: #424242;
$dark-gray-color: #232323;
$light-gray-color: #979797;
$not-black-color: #080707;

// Font-sizes:
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xs: 20px;
$font-size-xxl: 40px;

// Line-heights:
$line-height-s: 17px;
$line-height-m: 20px;
$line-height-l: 22px;
$line-height-xs: 24px;
$line-height-xxl: 48px;

// Border-radiuses:
$border-radius-standard: 4px;
