// Colors:
$dark-indian-red-color: #f65261;
$white-color: #ffffff;
$gray-color: #424242;
$dark-gray-color: #232323;
$light-gray-color: #979797;
$dark-indigo-color: #2A202D;
$not-black-color: #080707;

// Font-sizes:
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xs: 20px;
$font-size-xxl: 40px;

// Line-heights:
$line-height-s: 17px;
$line-height-m: 20px;
$line-height-l: 22px;
$line-height-xs: 24px;
$line-height-xxl: 48px;

// Border-radiuses:
$border-radius-standard: 4px;

// Box-shadows:
$box-shadow-standard: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.07), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 10px 50px rgba(0, 0, 0, 0.05);

// z-indexes:
$z-index-page: 1;
$z-index-modal: 2;
$z-index-modal__controls: 3;

